<div id="<%= dom_id task %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= task.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Completed:</strong>
    <%=
      check_box_tag :completed,
      task.completed,
      task.completed,
      data: { id: task.id, controller: 'check', action: 'check#active' }
    %>
  </p>

  <hr class="mt-6">
</div>
